<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
    <body>
        <!-- Navigation-->
         <%- include('layouts/navbar') -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Boho 2.0</h1>
                            <span class="subheading">A better way to manage your employee</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                     <% for (let i = 0; i < employee.length; i += 1) { %>
                    <div class="post-preview">
                        <a href="/employee/<%= employee[i]._id %>">
                            <h2 class="post-title"><%= employee[i].name %></h2>
                            <h3 class="post-subtitle"><%= employee[i].designation %></h3>
                        </a>
                        <p class="post-meta">
                            date of joining, <%= employee[i].dateOfJoining %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                     <% } %>

                     <% if (employee.length === 0) { %>
                        <div class="post-meta">
                            <h2 class="post-title">No employee registered</h2>
                        </div>
                     <% } %>
                </div>
            </div>
        </div>
        <!-- Footer-->
         <%- include('layouts/footer') -%>
         <%- include('layouts/scripts') -%>
    </body>
</html>
